<!-- Html da tela em geral, aqui fica o HTML de tudo menos do chat e do footer!!! -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="chat.component.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Mobile nav toggle button ======= -->
    <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
    <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex flex-column justify-content-center">
  
      <nav id="navbar" class="navbar nav-menu">
        <ul>
          <li><a href="#inicio" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Ínicio</span></a></li>
          <li><a href="#chatbot" class="nav-link scrollto"><i class="bx bx-chat"></i> <span>Chatbot</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
  
    </header><!-- End Header -->
  
    <!-- ======= inicio Section ======= -->
    <section id="inicio" class="d-flex flex-column justify-content-center">
      <div class="container" data-aos="zoom-in" data-aos-delay="100">
        <h1>UNICENTRO WISE</h1>
        <p>Seu chatbot para dúvidas sobre a <span class="typed" data-typed-items="Universidade Estadual do Centro-oeste"></span></p>
      </div>
    </section><!-- End inicio -->
  
  <main id="main">
  
    <!-- ======= chatbot Section ======= -->
    <section id="chatbot" class="chatbot">
      <div class="container" data-aos="fade-up">
        <div class="container bootstrap snippets bootdeys">
          <!-- Panel Chat -->
          <div class="panel" id="chat">
            <div class="section-title">
              <h2> Chat </h2>
            </div>
            <div class="panel-body" id="chat-content">
              <div class="chats">
                <div class="messsagesContainer" id="messsagesContainer" class="ps-container ps-theme-default ps-active-y" style="overflow-y: scroll !important; height:400px !important;">
                  <!-- Essa é a tentativa de chamar o container do chat aqui pra dentro -->
                  <app-chat-message />
                </div>
              </div>  
            </div>          
          </div>
          <!-- End Panel Chat -->
          <app-chat-footer/>
        </div>
      </div>
    </section>

</main><!-- End #main -->
  
    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <h3>Créditos</h3>
        <div class="social-links">
          <a href="https://github.com/KWSantos" class="github"><i class="bx bxl-github"></i></a>
          <a href="https://github.com/vborgex" class="github"><i class="bx bxl-github"></i></a>
          <a href="https://github.com/LopesBrendinha" class="github"><i class="bx bxl-github"></i></a>
        </div>

      </div>
    </footer><!-- End Footer -->
  

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


  </body>

  </html>