<div class="login-card">

    <div class="card-title">
        <h1>Login</h1>
        <span>Não tem uma conta? <a routerLink="/register">Cadastre-se</a></span>
    </div>
    <form class="form-group" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <input name="email" type="email" formControlName="email" placeholder="Email">
        <div *ngIf="((errorControl['email'].touched) || (errorControl['email'].dirty) && (errorControl['email'].errors))">
            <span class=error *ngIf="errorControl['email'].hasError('required')">
                <i class="bx bx-error-circle"></i>
                Email é obrigatório!
            </span>
            <span class=error *ngIf="errorControl['email'].hasError('email')">
                <i class="bx bx-error-circle"></i>
                Email precisa estar no formato correto!
            </span></div>
        <input type="password" formControlName="password" placeholder="Senha">
        <div *ngIf="((errorControl['password'].touched) || (errorControl['password'].dirty) && (errorControl['password'].errors))">
            <span class=error *ngIf="errorControl['password'].hasError('required')">
                <i class="bx bx-error-circle"></i>
                Senha é obrigatória!
            </span>
        </div>
        <button>Entrar</button>
    </form>

</div>